<!DOCTYPE html>
<html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/registration_number.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    {{!-- <link rel="shortcut icon" href="/img/plate.jpeg"> --}}
    <title>Registration</title>
</head>
<body>

    {{{body}}}

</body>
</html>